%% -*- mode:erlang -*-
{erl_opts, [debug_info]}.

{deps,
 [ {gproc, {git, "https://github.com/uwiger/gproc", {tag, "1.1.0"}}}
 , {snabbkaffe, {git, "https://github.com/kafka4beam/snabbkaffe", {tag, "1.0.10"}}}
 , {optvar, {git, "https://github.com/emqx/optvar", {tag, "1.0.5"}}}
 ]}.

{dialyzer,
 [ {plt_extra_aps, [gproc]}
 ]}.

{profiles,
 [ {concuerror,
    [{overrides,
      [ {add, snabbkaffe,
         [{erl_opts, [{d, 'CONCUERROR'}]}]}
      , {add, mria,
         [{erl_opts, [{d, 'CONCUERROR'}]}]}
      ]}
    ]}
 ]}.

{xref_checks,
 [ undefined_function_calls
 , undefined_functions
 , locals_not_used
 , deprecated_function_calls
 , deprecated_functions
 ]}.
